@use "../../../../../scss/index.scss" as *;
.tab-bar {
    position: relative;
    display: flex;
    gap: 0.15rem !important;
    width: 100%;
    margin-left: 3rem !important;
    @include flex-align(center, start);
}

.add-tab-button {
    @include flex-align(center, center);
    cursor: pointer;
    border-radius: $border-radius;
    padding: 0.25rem;
    margin-left: 0.5rem;

    &:hover {
        background-color: $base-hover-bg-color;
        svg {
            color: #ffffff;
        }
    }
}
