@use "../../../../../scss/index.scss" as *;
.tab-bar {
    position: relative;
    display: flex;
    gap: 0.15rem !important;
    width: 100%;
    margin-left: 3rem !important;
}

.add-tab-button {
    @include flex-align(center, center);
    margin-left: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: $border-radius;
    
    &:hover {
        background-color: $base-hover-bg-color;
    }
}
